#foreach(${retrofitApi} in ${retrofitApiList})
#if(${retrofitApi.isFormUrlEncoded})
    @FormUrlEncoded
#end
    @${retrofitApi.requestMethod}(value = "${retrofitApi.requestUrl}")
    fun ${retrofitApi.methodName}(${retrofitApi.paramsString}): Observable<${retrofitApi.response.modelName}>

#end